<div fxLayout="row" fxLayoutGap="30px">
  <button class="filters" mat-button (click)="openFilters()">
    <mat-icon class="filters-icon">tune</mat-icon>
    Filters
  </button>

  <div fxFlex class="filters-container" *ngIf="showFilters" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
    <ng-container *ngFor="let status of filters.selectedStatus">
      <app-filter-item *ngIf="status.active" title="Status" (removeFilterItem)="removeFilterItem('Status', status.value)" [item]="{ type: 'Status', value: status.value }"></app-filter-item>
    </ng-container>  
    <app-filter-item *ngIf="filters.selectedPhase" title="Phase" (removeFilterItem)="removeFilterItem('Phase', filters.selectedPhase)" [item]="{ type: 'Phase', value: filters.selectedPhase }"></app-filter-item>
    <app-filter-item *ngIf="filters.selectedMonth" title="Month" (removeFilterItem)="removeFilterItem('Month', filters.selectedMonth)" [item]="{ type: 'Month', value: filters.selectedMonth }"></app-filter-item>
  </div>

  <button *ngIf="showFilters" class="filters" mat-button (click)="clearFilters()">
    Clear Filters
  </button>
</div>
