<div fxLayout="row" class="row">
  <app-cell fxFlex class="row__cell" [value]="item.status" [color]="currentColor"></app-cell>
  <app-cell fxFlex class="row__cell" [value]="item.supplierName"></app-cell>
  <app-cell fxFlex class="row__cell" [value]="item.month"></app-cell>
  <app-cell fxFlex class="row__cell" [value]="item.phase"></app-cell>
  <app-cell fxFlex class="row__cell" [value]="item.internalOrder"></app-cell>
  <app-cell fxFlex class="row__cell" [value]="(item.amount | number: '1.2-2') || 0"></app-cell>
</div>
